.wrapper {
  width: 100%;
}

.wrapper .menu-section {
  background-color: #002245;
  width: 25%;
  height: 660px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .wrapper .menu-section {
    display: none;
  }
}

.wrapper .menu-section .side-bar {
  padding-top: 50px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .menu-section .side-bar .logo {
  width: 130px;
}

.wrapper .menu-section .side-bar .menu {
  width: 260px;
  padding-top: 50px;
}

.wrapper .menu-section .side-bar .menu ul {
  list-style-type: none;
}

.wrapper .menu-section .side-bar .menu ul li {
  margin: 30px 0;
}

.wrapper .menu-section .side-bar .menu ul li a {
  color: #ffffff;
  font-family: sans-serif;
  text-decoration: none;
  border-bottom: 1px solid #0a2a4c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrapper .menu-section .side-bar .menu ul li a:hover {
  color: #ff9800;
}

.wrapper .menu-section .side-bar .social-items {
  padding-top: 30px;
}

.wrapper .menu-section .side-bar .social-items ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .menu-section .side-bar .social-items ul li {
  color: white;
  margin: 0 10px;
}

.wrapper .menu-section .side-bar .social-items ul li i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.wrapper .menu-section .side-bar .social-items ul li i:hover {
  color: #ff9800;
}

.wrapper .content {
  width: 100%;
  padding-left: 25%;
}

.wrapper .content .freelancer {
  width: 100%;
  height: 660px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .content .freelancer .main-info {
  width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.wrapper .content .freelancer .main-info .freelancer-photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: black;
}

.wrapper .content .freelancer .main-info .freelancer-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

.wrapper .content .freelancer .main-info .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.wrapper .content .freelancer .main-info .title h2 {
  font-family: sans-serif;
  font-size: 50px;
  color: white;
  font-weight: bold;
}

.wrapper .content .freelancer .main-info .title span {
  color: #ff9800;
  font-family: sans-serif;
  font-size: 50px;
  margin-left: 10px;
  font-weight: bold;
}

.wrapper .content .freelancer .main-info .title p {
  color: white;
  font-family: sans-serif;
  font-size: 25px;
}

.wrapper .content .about-section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.wrapper .content .about-section .about-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .content .about-section .about-items .about-head {
  width: 25%;
}

.wrapper .content .about-section .about-items .about-head span {
  width: 25%;
  font-family: sans-serif;
  color: #ffaf3b;
}

.wrapper .content .about-section .about-items .about-head h2 {
  margin-top: 20px;
  font-family: sans-serif;
  font-size: 35px;
}

.wrapper .content .about-section .about-items .about-info {
  width: 100%;
  height: 625px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .content .about-section .about-items .about-info .photo-space {
  width: 340px;
  height: 405px;
  position: relative;
}

.wrapper .content .about-section .about-items .about-info .photo-space .frame {
  width: 325px;
  height: 380px;
  background-color: white;
  border: 10px solid black;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  border-radius: 5px;
}

.wrapper .content .about-section .about-items .about-info .photo-space .photo {
  width: 300px;
  height: 380px;
  z-index: 2;
  position: absolute;
}

.wrapper .content .about-section .about-items .about-info .photo-space .photo img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.wrapper .content .about-section .about-items .about-info .information {
  width: 515px;
  height: 625px;
}

.wrapper .content .about-section .about-items .about-info .information h3 {
  font-family: sans-serif;
}

.wrapper .content .about-section .about-items .about-info .information h3 .head-name {
  color: #ff9800;
}

.wrapper .content .about-section .about-items .about-info .information p {
  font-family: sans-serif;
  line-height: 35px;
  font-size: 18px;
  color: #989898;
  margin-top: 30px;
}

.wrapper .content .about-section .about-items .about-info .information p .head-name {
  color: #ff9800;
}

.wrapper .content .about-section .about-items .about-info .information .details {
  width: 100%;
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

.wrapper .content .about-section .about-items .about-info .information .details .fast-info {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .content .about-section .about-items .about-info .information .details .fast-info h4 {
  margin-left: 5px;
  font-family: sans-serif;
}

.wrapper .content .about-section .about-items .about-info .information .details .fast-info .long {
  margin-left: 20px;
}

.wrapper .content .about-section .about-items .about-info .information .details .fast-info a {
  text-decoration: none;
  margin-left: 5px;
  color: #626060;
}

.wrapper .content .about-section .about-items .about-info .information .details .fast-info i {
  color: #ff9800;
}

.wrapper .content .about-section .about-items .about-info .information .details .fast-info span {
  margin-left: 5px;
  font-family: sans-serif;
}

.wrapper .content .about-section .about-items .about-info .information .buttons {
  width: 445px;
  height: 55px;
  margin-top: 50px;
}

.wrapper .content .about-section .about-items .about-info .information .buttons button {
  width: 205px;
  height: 53px;
  background-color: #ff9800;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 10px;
  outline: none;
  border: none;
  margin: 0 5px;
}

.wrapper .content .card-section {
  width: 100%;
  background-color: #f9f9f9;
  padding-top: 70px;
  padding-bottom: 70px;
}

.wrapper .content .card-section .card-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .content .card-section .card-items .card-head {
  width: 25%;
}

.wrapper .content .card-section .card-items .card-head span {
  width: 25%;
  font-family: sans-serif;
  color: #ffaf3b;
}

.wrapper .content .card-section .card-items .card-head h2 {
  margin-top: 20px;
  font-family: sans-serif;
  font-size: 35px;
}

.wrapper .content .card-section .card-items .card-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.wrapper .content .card-section .card-items .card-item .cards {
  width: 275px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  margin: 30px 0;
}

.wrapper .content .card-section .card-items .card-item .cards .card-content {
  width: 200px;
  height: 290px;
}

.wrapper .content .card-section .card-items .card-item .cards .card-content i {
  font-size: 45px;
  color: orange;
}

.wrapper .content .card-section .card-items .card-item .cards .card-content h3 {
  font-family: sans-serif;
  font-size: 22px;
  margin-top: 30px;
  color: #2f2f2f;
}

.wrapper .content .card-section .card-items .card-item .cards .card-content p {
  font-family: sans-serif;
  color: #8f8f8f;
  margin-top: 30px;
  line-height: 35px;
  font-size: 19px;
}

.wrapper .content .card-section .card-items .card-describtion {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

.wrapper .content .card-section .card-items .card-describtion .main-text {
  width: 415px;
  height: 270px;
}

.wrapper .content .card-section .card-items .card-describtion .main-text h3 {
  font-family: sans-serif;
  font-size: 22px;
  line-height: 30px;
}

.wrapper .content .card-section .card-items .card-describtion .main-text span {
  color: #ff9800;
}

.wrapper .content .card-section .card-items .card-describtion .main-text p {
  font-family: sans-serif;
  line-height: 30px;
  margin-top: 30px;
  font-size: 19px;
  color: #656464;
}

.wrapper .content .card-section .card-items .card-describtion .chart {
  width: 440px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .content .card-section .card-items .card-describtion .chart .chart-inner {
  width: 100%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .content .card-section .card-items .card-describtion .chart .chart-inner h4 {
  font-family: sans-serif;
  color: #656464;
}

.wrapper .content .card-section .card-items .card-describtion .chart .chart-inner .full-line {
  width: 100%;
  height: 10px;
  background-color: black;
  margin-top: 6px;
}

.wrapper .content .card-section .card-items .card-describtion .chart .chart-inner .full-line .development-line {
  width: 95%;
  height: 10px;
  background-color: #ff9800;
}

.wrapper .content .card-section .card-items .card-describtion .chart .chart-inner .full-line .brand-line {
  width: 80%;
  height: 10px;
  background-color: #ff9800;
}

.wrapper .content .card-section .card-items .card-describtion .chart .chart-inner .full-line .java-line {
  width: 90%;
  height: 10px;
  background-color: #ff9800;
}

.wrapper .content .card-section .card-items .card-describtion .chart .chart-inner .full-line .wordpress-line {
  width: 85%;
  height: 10px;
  background-color: #ff9800;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 950px;
  margin: auto;
}

@media only screen and (max-width: 950px) {
  .container {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */